.row-container {
    display: flex;
}

.filled {
    background: black;
}
div {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    flex-grow: 1;

}

.grid-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-style: none;
    width: 800px;
    height: 800px;
}